<html ng-app="app">
<head >
	<title>Posto Fácil</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	<link rel="stylesheet" href="./index.css">
	
</head>
<!-- inicializando a controller da página utilizando as diretivas do angular -->
<body ng-controller="SearchController as ct" class="body-background">
	<form class="page">
		<h1 class="titulo">Posto Fácil BH</h1>
		<div class="nosso-padding form-group" >
			<div class="col-md-3"></div>
			<div class="centralizado col-md-6">
				<div>
					<div>
						<!-- combo com as regiões -->
						<select ng-model="regiaoSelecionada" class="form-control" ng-change="ct.getPostos()">
							<option selected="true"  value="0">Selecione a Região</option>
							<option ng-repeat="r in Regioes" value="{{r.cod}}">{{r.nome}}</option>
						</select>
					</div>
					&nbsp;
					<div>
						<!-- combo com os postos  -->
						<select ng-disabled="regiaoSelecionada == 0" ng-model="postoSelecionado" class="form-control">
							<option selected="true"  value="0">Selecione o Posto</option>
							<option selected="true"  value="1">Todos</option>
							<option ng-repeat="p in Postos" value="{{p.cod}}">{{p.nome}}</option>
						</select>
					</div>
					&nbsp;
				
					<div>
						<!-- botão para exibir os detalhes -->
						<button ng-disabled="postoSelecionado == 0" class="form-control btn btn-success button-margin" ng-click="ct.verDetalhes()">Continuar</button>
				
					</div>
				</div>
					
					
			</div>
			<div class="col-md-3"></div>
			<!-- painel com as informações individuias de cada posto -->
			<div class="painel" ng-if="mostrarDetalhes">
				<div class="panel panel-default">
					<div class="panel-heading">
						<p>Nome: {{detalhesPosto.nome}}</p>
					</div>
					<div class="panel-body">
						<p>Região: {{detalhesPosto.regiao}}</p>
						<p>Endereço: {{detalhesPosto.endereco}}</p>
						<p>Telefones: {{detalhesPosto.telefones}}</p>
						<p>Horário Acolhimento: {{detalhesPosto.acolhimento}}</p>
						<p>Horário Farmácia: {{detalhesPosto.farmacia}}</p>	
					</div>
				</div>
			</div>
			<!-- MAPA -->
			<div  id="map">
				<div ng-if="showMap" class="row" map-lazy-load="https://maps.google.com/maps/api/js">
					<ng-map zoom="{{Zoom}}" center="[{{Position}}]">
						<marker ng-repeat="m in Markers" position="[{{m.position}}]" title="{{m.nomePosto}}" centered="true"></marker>
					</ng-map>
				</div>
			</div>
		</div>
	</form>


	<!-- scripts utilizados na página -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script src="http://maps.google.com/maps/api/js"></script>
	<script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="angular-ui-router.min.js"></script>
	<script src="app.js"></script>
	<script src="app/SearchController.js"></script>
</body>
</html>